{% extends "base.html" %}
{% load static %}


{% block content %}

    <!--Home-->
    <section>
        <div class="home container">
            <div class="home-texto">
                <h1>Suplementação alimentar:</h1>
                <p>o que são, para que serve, tipos e como tomar</p>
            </div>
        </div>
    </section>

    <!--Posts-->
    <section class="post container">

        {% for post in posts %}
                    <!--Post 1-->
            <div class="post-caixa">
                {% if post.imagem %}
                <img src="{{ post.imagem.url }}" alt="" class="post-img">
                {% else %}
                <img src="{% static "css/assets/placeholder.png" %}" alt="" class="post-img">
                {% endif %}

                <h2 class="categoria"> {{post.categoria}} </h2>
                <a href="{% url 'postagem' id=post.id %}" class="post-titulo"> {{ post.titulo}} </a>
                <p class="post-descricao"> {{ post.descricao }} </p>
            </div>
        {% endfor %}

    </section>

        
{% endblock content %}
