{% extends "base.html" %}
{% load static %}


{% block content %}

    <!--Home-->
    <section>
        <div class="home container">
            <div class="home-texto">
                <h1>Suplementação alimentar:</h1>
                <p>o que são, para que serve, tipos e como tomar</p>
            </div>
        </div>
    </section>

    <!--Posts-->
    <section class="post container">

        {% for post in posts %}
                    <!--Post 1-->
            <div class="post-caixa">
                <img src="{{ posts.imagem.url }}" alt="#" class="post-img">
                <h2 class="categoria"> {{posts.categoria}} </h2>
                <a href="post 1.html" class="post-titulo"> {{ posts.titulo}} </a>
                <p class="post-descricao"> {{ posts.descricao }} </p>
            </div>
        {% endfor %}

    </section>

        
{% endblock content %}
